@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn{
        @apply bg-[#f8f9fa] p-3 m-2 rounded-md text-sm text-gray-800 ring-gray-200 hover:ring-1 focus:outline-none 
        active:ring-gray-300 hover:shadow-md;

    }
}


/* p-3 rounded-md text-sm text-gray-800 ring-gray-200 hover:ring-1 */